---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Stars from "../components/Stars.svelte";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
		characterCount?: number;
		// tags?: list;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage, characterCount },
} = Astro.props as Props;
---

<html>
	<head>
		<BaseHead title={title} description={description} />

		
	</head>

	
	<body class="
	bg-gradient-to-b
		from-gray-900
		to-gray-800
		">
		<Header />
		<Stars client:idle></Stars>
		<main>
			<article class="
			prose
			prose-invert
			prose-sm
			lg:prose-lg
			prose-code:before:content-none prose-code:after:content-none 
			prose-img:rounded-xl
			prose-img:shadow-2xl
			">
			<div class="not-prose">
				<h1 class="text-5xl">{title}</h1>
			</div>
			<div class="container flex flex-row justify-start gap-10 items-center not-prose mt-2">
				{pubDate && <p> <svg class="w-6 h-6 inline mb-1.5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path></svg> {pubDate}</p>}
				{characterCount && <p>  <svg class="w-6 h-6 inline mb-1.5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg> {Math.ceil(characterCount / 265)} minute read</p>}
			</div>
				{heroImage && (
					<img
						width={720}
						height={360}
						src={heroImage}
						alt=""
					/>
				)}
				{updatedDate && <div>Last updated on <time>{updatedDate}</time></div>}
				<hr/>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>

<style>

			@font-face {
			font-family: FuturaBold;
			src: url('/FuturaHeavyfont.ttf');
			}

			article {
				font-family: FuturaBold;
			}

			h1 {
				margin-bottom: 0;
			}
		</style>